import multiprocessing

bind = 'unix:/run/gunicorn/socket'
pid = '/run/gunicorn/pid'
workers = 4
accesslog='/var/log/flask-access.log'
loglevel='debug'
errorlog='/var/log/flask-error.log'
chdir='{{ gunicorn_app_dir }}/backend'
