import multiprocessing

bind = "0.0.0.0:80"
workers = 4 # multiprocessing.cpu_count() * 2
daemon = True
accesslog='/var/log/flask-access.log'
loglevel='debug'
errorlog='/var/log/flask-error.log'
pythonpath='/opt/claudinha'